:root {
	--color-white: #ffffff;
	--color-eggshell: #f8f8f8;

	--orange-hs: 25, 57%;
	--orange-l: 50%;

	--color-orange: hsl(var(--orange-hs), var(--orange-l));
	--color-orange-lighter: hsl(var(--orange-hs), calc(var(--orange-l) + 8%));
	--color-orange-darker: hsl(var(--orange-hs), calc(var(--orange-l) - 5%));
}

html {
	font-size: 18px;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

main > * > * {
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
}

section {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

section:nth-child(even) {
	background: var(--color-eggshell);
}

figure img,
figure svg {
	background-color: var(--color-eggshell);
	fill: var(--color-eggshell);
	padding: 1rem;
	width: 100%;
	height: auto;
}

section:nth-child(even) figure img,
section:nth-child(even) figure svg {
	background-color: var(--color-white);
	fill: var(--color-white);
}

figure {
	margin-bottom: 3rem;
}